body {
    background-image: url("background.jpeg");
    background-size: cover;

}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index:999;
  background-color: #c9e8ff;
  border-bottom: 1px solid #115470;
}

.navbar .navbar-brand,
.navbar .navbar-brand:focus {
  background-image: linear-gradient(-90deg, #115470, #77a8bd);
  border-right: 1px solid #115470;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #46e3be;
}

.navbar .navbar-brand:hover {
  color: #ffffff;
  text-shadow: 2px 2px 5px #59479e;
}

.navbar .navbar-nav a {
  font-size: 18px;
  color: #2d70b3;
}

#navbar #navbar-nav a.active {
  background-color: #8fa6bd;
}

.container {
  margin-top: 100px;
}

#jumbotron {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(-90deg, red, yellow);
}

.thumbnail {
  width:90%;
}

.mirror-pool {
  width:70%;
}

/*

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}

.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}*/
